  <body background = 'https://upload.wikimedia.org/wikipedia/commons/8/81/Leucanthemum_vulgare_%27Filigran%27_Flower_2200px_edit1.jpg'>

 <form action="action_page.php">
<!-- 
<div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div> -->

 <div class="container">
    <label for="uname"><b>Username</b></label>&nbsp;
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>

    <label for="psw"><b>Password</b></label>&nbsp;&nbsp;
    <input type="password" placeholder="Enter Password" name="psw" required>
<br>
    <button type="submit" class='login'><b>Login</b></button>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me &nbsp;&nbsp;
    </label>
  <!--<div class="container" style="background-color:#f1f1f1">-->
    <input type="reset" value="Reset" class="reset"/>  &nbsp;&nbsp;
    <br> Already have an account?
    <div (click)="redirect(my-page)">Register</div>
  <!--   <button id="register" type="submit" ><b>Register</b></button>  -->
  </div>
</form>
</body>
