
<!--  
<div class="row">
    <div class="col-lg-12">
        <form [formGroup]="login_Form" (ngSubmit)="doLogin(login_Form.value)">
            <div class="container">
                <input type="email" [formControl]="login_Form.controls['email']" placeholder="Your email" required>
                <input type="password" [formControl]="login_Form.controls['password']" placeholder="Your password" required>
                <button type="submit" [disabled]="!login_Form.valid">Log In</button>
            </div>
        </form>
    </div>
</div>
-->