  <body background = 'https://upload.wikimedia.org/wikipedia/commons/8/81/Leucanthemum_vulgare_%27Filigran%27_Flower_2200px_edit1.jpg'>
<h1> Registration Form </h1>
 <form action="action_page.php">
<!-- 
<div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div> -->

 <div class="container">
      <label for="name"><b>Name</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" placeholder="Enter your Name" name="name" required>
    <br>
    <label for="uname"><b>Username</b></label>&nbsp;
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="email"><b>Email</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" placeholder="Enter your EmailId" name="email" pattern="*+@gmail.com" size="30" required
           title="Must be a abc@gmail.com email address" />
>
    <br>

    <label for="psw"><b>Password</b></label>&nbsp;&nbsp;
    <input type="password" placeholder="Enter Password"  id="password"  name="psw" required>
<br>
<label for="psw"><b>Password</b></label>&nbsp;&nbsp;
    <input type="password" placeholder="Re-enter Password"  id="password_confirm"  name="psw" required>
<br>
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
    <button type="submit" class='login'><b>Submit</b></button>
    <br>
   
  <!--<div class="container" style="background-color:#f1f1f1">-->
    <input type="reset" value="Reset" class="reset"/>  &nbsp;&nbsp;
    
  </div>
</form>
</body>
